<!DOCTYPE html>
<html lang="en">
<head>
    <title>Test App</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css">
</head>
<body>
    <div class="container">
        <ul class="menu">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    {{{body}}}
</body>
</html>