<form action="/users/register" method="POST">
    <label for="username">Username: </label>
    <input type="text" name="username" value="{{user.username}}" placeholder="Enter user name...">
    </br>
    <label for="password">Password: </label>
    <input type="password" name="password" placeholder="Enter password...">
    </br>
    <label for="firstName">First name: </label>
    <input type="text" name="firstName" placeholder="Enter first name...">
    </br>
    <label for="lastName">Last name: </label>
    <input type="text" name="lastName" placeholder="Enter last name...">
    </br>
    <input type="submit" value="Register">
</form>