<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopStop</title>

    <link rel="stylesheet" href="/content/styles/site.css" type="text/css">
    <link rel="shortcut icon" href="/content/images/favicon.ico" type="image/x-icon">
</head>
<body>
     <header>
        <nav class="nav">
            <ul>
                <li><a href="/">Home Page</a></li>
                <li><a href="/products/add">Add Product</a></li>
                <li><a href="/images/add">Add Image</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form method="post">
            <div class="form-group">
                <label for="name">Image Name</label>
                <input type="text" name="name" class="input-field"/>
                {name-is-null}
            </div>
            <div class="form-group">
                <label for="url">Image URL</label>
                <input type="text" name="url" class="input-field"/>
                {url-is-null}
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn form-btn"/>
            </div>
        </form>
    </main>
</body>
</html>